.input-container {
  margin: auto;
  width: 80%;
  padding: 20px;
}

#input {
  width: 100%;
  height: 5vh;
}

.keyboard_container {
  margin: auto;
  width: 880px;
  border: 2px gray solid;
  border-radius: 5px;
  background-color: lightsteelblue;
}

body {
  background-color: mintcream;
}

.rows {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button {
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgba(0,0,0,0.65);
  border-radius: 8px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

button:focus {
  background-color: rgba(0,0,0,0.75);
}

#power_circle {
  border-radius: 25px;
  background-color: rgba(0,0,0,0.2);
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}

#power {
  border-radius: 10px;
  border: gray 2px solid;
  background-color: rgba(0,0,0,0.65);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

#space {
  width: 240px;
}

#tab, #esc, #delete {
  width: 100px;
}

#caps_lock, #return {
  width: 120px;
}

#left_shift, #right_shift {
  width: 140px;
}

#left_command, #right_command{
  width: 80px;
}

#esc, #tab, #caps_lock, #left_shift {
  text-align: left;
}

#delete, #return, #right_shift {
  text-align: right;
}

.kicon {
  box-sizing: border-box;
}

.updown {
  display: flex;
  flex-direction: column;
}

#up, #down {
  height: 25px;
}

#left, #right {
  height: 25px;
  margin-top: 25px;
}

#cll {
  background-color: white;
  border-radius: 25px;
  padding-right: 10px;
  font-size: 8px;
  text-align: center;
}